<div class="container"  >
  <div align="center" class="form"><br>
    <h3>Update location</h3>

    <%= form_for @location, url: {action: :create} do |f| %>
      <div class="form-group">
        <div class="col-sm-12">    
          <label>Street </label>
          <span class="err"></span><br/>
            <%= f.text_field :street , :class => 'form-control', :placeholder => 'Street'%>
        </div>
      </div>
         
      <div class="form-group">
        <div class="col-sm-12">    
          <label>City </label>
          <span class="err"></span><br/>
            <%= f.text_field :city , :class => 'form-control', :placeholder => 'City'%>
        </div>
      </div>
          
      <div class="form-group">
        <div class="col-sm-12">    
          <label>Pincode </label>
          <span class="err"></span><br/>
            <%= f.text_field :pincode , :class => 'form-control', :placeholder => 'Pincode'%>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">    
          <label>Country </label>
          <span class="err"></span><br/>
            <%= f.text_field :country , :class => 'form-control', :placeholder => 'Country'%>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">    
          <label>Latitude </label>
          <span class="err"></span><br/>
            <%= f.text_field :latitude , :class => 'form-control', :placeholder => 'Latitude'%>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">    
          <label>Longitude </label>
          <span class="err"></span><br/>
            <%= f.text_field :longitude , :class => 'form-control', :placeholder => 'Longitude'%>
        </div>
      </div>
      
      
       
      <div class= "form-group" >
        <div class="col-sm-12">
            <%= f.submit "Save",class: "btn btn-block btn-md btn-primary " %>
        </div>
      </div>

      <div class= "form-group" >
        <div class="col-sm-12">
          <%= link_to 'Back',admin_locations_path,:class => "btn btn-sm btn-info "  %>  
          </div>
      </div>
      
    <% end %>
  </div>
</div>