<br><br><br><br>
<div class="container">
  <div class="form-horizontal no-border user_form u-dimension-2"  style ="width: 400px;"align="center" >
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h2 align="center">Admin Login</h2>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      <% end %>

      <div class="form-group">
        <div class="col-sm-12">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password",class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <%= f.submit "Log in", class: 'btn btn-block btn-success btn'  %>
        </div>
      </div>
    <% end %>

    <div align="center">
      <%= link_to 'Go to App', root_path %>
    </div>
    
  </div>
</div> 



