<!-- Navigation -->
<nav class="navbar navbar-expand-lg  static-top u-dimension-2" style="height: 66px;">
  <div class="container">
    <%= link_to image_tag('logo.png', :class => 'navbar-brand'), root_path   %>
    <div class="header-list loc-srch">
      <ul class="nav navbar-nav">
       
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <ul class="nav navbar-nav ml-auto">
            
          </ul>
        </li>   
      </ul>
    </div>
  </div>
</nav>

<div class="container" >
  <div class="form-horizontal no-border user_form u-dimension-2"  style ="margin-top: 20px; width: 450px;"align="center" >
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h2 align="center">Sign in </h2>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      <% end %>  

      <div class="form-group">
        <div class="col-sm-12">
          <%= f.label :email %>
           <span class="err"><%= resource.errors[:email].join('. ') %></span><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class: 'form-control'%>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <%= f.label :password %>
           <span class="err"><%= resource.errors[:password].join('. ') %></span><br />
          <%= f.password_field :password, autocomplete: "current-password",class: 'form-control'%>
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-12">
          <%= f.submit "Log in", class: 'submitBtn btn btn-block btn-success btn', id: 'modal-submit' %>
        </div>
      </div>
      
      <div class="clearfix" style="width: 350px;">
        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        <%= link_to "Forgot password?", new_user_password_path, :class => 'forgot_pwd'%>
      </div>
     
      <p align = "center">or</p>
      
      <div class="form-group" >
        <div class="col-sm-12">
          <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, class: 'submitBtn btn btn-google btn-block btn-danger btn'%>
        </div>
      </div>

      <div class="form-group" >
        <div class="col-sm-12">
          <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path ,class: 'submitBtn btn  btn-block btn-primary btn'%></div>
      </div>
      <%= link_to "Create your account", new_user_registration_path%>
    <% end %>
  </div>
</div> 


 </body>
<style type="text/css">
  .col-sm-12{
    padding-left: 0px;
    padding-right: 0px;
  }
</style>



