<!-- Navigation -->
<nav class="navbar navbar-expand-md fixed-top u-dimension-2">
  <div class="container">
    <%= link_to image_tag('logo.png', :class => 'navbar-brand'), root_path   %>
    
    <% if current_page?('/') %>
    <div class="header-list loc-srch">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle nav-link location" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select Location<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <div class="input-group" class="ui-widget">
                <input type="text" name="location" id="location_search" class="form-control ui-autocomplete-input" placeholder="location" autocomplete="off">
                <span class="input-group-btn">
                    <button class="btn btn-default location_search_dish" type="submit" 
                      id="location_submit" onclick="submitFrmAjax();" style="height:38px;"> 
                      <%= image_tag ("search.png")%>
                      <span style="color: #5ac7f9;"></span>
                    </button>
                </span>
              </div>  
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarResponsive">
       <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <ul class="nav navbar-nav ml-auto">
              <% if current_user.present? %>
                <li class="nav-item dropdown">
                  
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <%= image_tag('user.png', :class => 'user_image') %> <%= current_user.name %></a>
                  <div class="dropdown-menu" style="width: 100px;">
                    <%= link_to('My Account', user_path(current_user), :class => 'dropdown-item') %> 
                    <%= link_to('Orders', orders_path, :class => 'dropdown-item') %> 
                    <%= link_to('Logout', destroy_user_session_path, method: :delete, :class => 'dropdown-item') %>
                  </div>

                  <li class="nav-item">
                    <% count_list = current_user.wishlists.count %>
                    <% if(count_list ==0)%>
                      <%= link_to 'wishlist', wishlists_path, :class => 'nav-link' %>
                    <% else %>
                      <%= link_to 'wishlist', wishlists_path, :class => 'nav-link' %>
                      <span class="cart-count cart-badge--desktop1">   <%= (count_list == 0) ? nil : count_list %> 
                      </span>
                    <% end %>
                  </li>

                  <li class="nav-item">
                    <% count_cart = @current_cart.line_items.count %>
                    <% if (count_cart == 0) %>
                      <%= link_to "Cart", checkout_cart_path, :class =>'nav-link' %>
                    <% else %>
                      <%= link_to "Cart", checkout_cart_path, :class =>'nav-link' %>
                      <% total_count = 0 %>
                      <% @current_cart.line_items.each do |item| %>
                        <%  total_count += item.quantity %>
                      <% end %>
                      <span class="cart-count cart-badge--desktop ">   <%= (total_count == 0) ? nil : total_count%> 
                      </span>
                    <% end %>
                  </li>
                <% else %>
                  <li class="nav-item active">
                    <%= link_to 'Login', new_user_session_path, :class => 'nav-link' %>
                  </li>

                  <li class="nav-item">
                    <%= link_to 'Signup', new_user_registration_path, :class => 'nav-link' %>
                  </li> 

                  <li class="nav-item">
                    <%= link_to 'wishlist', wishlists_path, :class => 'nav-link' %>
                  </li>

                  <li class="nav-item">
                    <% count_cart = @current_cart.line_items.count %>
                    <% if (count_cart == 0) %>
                      <%= link_to "Cart", checkout_cart_path, :class =>'nav-link' %>
                    <% else %>
                      <%= link_to "Cart", checkout_cart_path, :class =>'nav-link' %>
                      <% total_count = 0 %>
                      <% @current_cart.line_items.each do |item| %>
                          <%  total_count += item.quantity %>
                      <% end %>
                      <span class="cart-count cart-badge--desktop ">   <%= (total_count == 0) ? nil : total_count%> 
                      </span>
                    <% end %>
                  </li> 
                <% end %>

              </li>
            </ul>
          </li>  
        </ul>
    </div>

  </div>
</nav>

