<div class="">
  <%= render :partial => 'admin/shared/header'%>
  <div class="main_div">
    <!-- Sidebar -->
    <%= render :partial => 'admin/shared/side_bar'%>
    <!-- Sidebar -->

    <div id="page-content-wrapper">
      <div class="container-fluid"><br><br>
        <div>
        <%= form_for @restaurant, url: {action: :create} do |f| %>
         <h2>Add Restaurant</h2><hr>
          <div class="form-row">
            <div class="col-md-6 res_new">
              <%= f.label :name %>
               <span class="err"><%= @restaurant.errors[:name].join('. ') %></span><br/>
              <%= f.text_field :name , :class => 'form-control', :placeholder => 'Name',:maxlength => 30 %>
            </div>
            <div class="col-md-6 res_new">
              <%= f.label :email %>
               <span class="err"><%= @restaurant.errors[:email].join('. ') %></span><br/>
              <%= f.text_field :email , :class => 'form-control', :placeholder => 'Email' %>
            </div>
           
            <div class="col-md-6 res_new">
              <%= f.label :phone %>
               <span class="err"><%= @restaurant.errors[:phone].join('. ') %></span><br/>
              <%= f.text_field :phone , :class => 'form-control', :placeholder => 'phone', :maxlength => 10 %>
            </div>
            <%= f.fields_for :pictures do |p| %>
            <div class="col-md-6 res_new" id="file_column">
               <%= f.label :image %> 
                <%= p.file_field :image, class: "form-control file"  %>
            </div>

            <div class="col-md-1" style="display: none;" id="image_column">
              <span class ="upload-preview">
                  <a class=" " data-toggle="modal" data-target="#myModal" href="#">
                    <img class="img_preview load_image" src="">
                  </a>
                  <!-- Modal for image view-->
                  <div class="modal fade"  id="myModal" role="dialog">
                    <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content modal-img-content">
                        <div class="modal-body">
                          <img class="modal-img" src="">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </span>
            </div>
            <% end %>
             
            <%= f.fields_for :locations do |l| %> 
              <div class="col-md-4 res_new">
                <%= f.label :state %>
                <%= l.select( :state, options_for_select("Select one"), {:prompt => 'Select state'}, {:class => 'form-control'}) %>
              </div>  
              <div class="col-md-4 res_new">
                <%= f.label :city %>
                <%= l.select( :city, options_for_select("Select one"), {:prompt => 'Select city'}, {:class => 'form-control'}) %>
              </div>
              
               <div class="col-md-4 res_new">
                <%= f.label :pincode %>
                <%= l.text_field :pincode, class: "form-control", :maxlength => 6, :placeholder => 'pincode'  %>  
              </div>

              <div class="col-md-4 res_new">
                  <%= f.label :street %>
                  <%= l.text_field :street, class: "form-control", :placeholder => 'street'  %>
              </div>
              
              <div class="col-md-4 res_new">
                <%= f.label :latitude %>
                <%= l.text_field :latitude, class: "form-control", :placeholder => 'latitude'  %>  
              </div>
              <div class="col-md-4 res_new">
                <%= f.label :longitude %>
                <%= l.text_field :longitude, class: "form-control", :placeholder => 'longitude'  %>  
              </div>
              <%= l.hidden_field :country, :value => 'India' %>
             
            <% end %>
          </div>
            <%= link_to 'Back', admin_restaurants_path, :class => 'btn btn-info'%>
            <%= f.submit "Save", :class => 'btn btn-success modal_btn restaurant_btn' %>
        <% end %>
        </div> <br><br>

        <form name="myform" id="myForm" style="display: none;">
          Select Country: <select name="state" id="countySel1" size="1">
          <option value="" selected="selected">Select Country</option>
          </select>
          <input type="submit">
        </form>

     
      </div>
    </div>
  </div>
</div>


<style>


  @media only screen and (max-width: 600px) {

 .new_restaurant{
  width: 305px;
 }
    
}

</style>















