<%= render :partial => 'shared/nav'%>


<div class="container" align="center">
  <div class="form-horizontal no-border form u-dimension-2 pwd_form"  style ="">
	  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			<p align="center" class="forgot_pwd_new">Forgot your password?</p>
			<p class="forgot_txt_new" >We got you. Just enter your email below and we'll send you a link to get in.</p>  

	    <div class="form-group pwd_new">
	      <div class="col-sm-12">
	        <%= f.label :email %>
	          <%= render "devise/shared/error_messages", resource: resource %>
	        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
	      </div>
	    </div>

	    <div class="form-group pwd_new">
	      <div class="col-sm-12">
	        <%= f.submit "Submit", class: 'submitBtn btn btn-block btn-success btn', id:'sign_in' %>
	     </div>
	    </div>

	    <p align = "center">or</p> 
	 
	    <%= link_to "Create your account", new_user_registration_path%><br>
	    <%= link_to "Log in", new_user_session_path%>
	  <% end %>
	</div>
</div> 

<style type="text/css">
  .pwd_form{
  
    margin-top: 30px; width: 430px
  
  }
  .col-sm-12{
    padding-left: 0px;
    padding-right: 0px;
  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .pwd_form {width:295px;}
  .form-group{
      width:220px;
  }
  .nav-item{
    padding-right: 7px;
    display: inherit;
  }
  .forgot_pwd {
    padding-left: 28px;
  }
   
  .cart-badge--desktop1{
    position: static;
  }

  .cart-badge--desktop{
    position: static;
  } 
  .navbar-nav .dropdown-menu {
    position: absolute;
}
}
</style>
