  <h4>Overall Rating &nbsp;
    <%= @dish.ratings.average(:rating).present? ? @dish.ratings.average(:rating).round(1) : 0 %>
      <i class="review-rating" data-score = " <%= @dish.ratings.average(:rating).present? ? @dish.ratings.average(:rating).round(1) : 0 %>"></i> 
  </h4><br>
  <i >Based on <%= @dish.ratings.count(:rating) %> Reviews</i><br>

  <div>
     <i class="review-rating" data-score = "5"></i> &nbsp;<span>(<%= @dish.ratings.where(rating: 5).count %>)</span>
  </div>

  <div>
   <i class="review-rating" data-score = "4"></i> &nbsp;<span>(<%= @dish.ratings.where(rating: 4).count %>)</span>
  </div>

  <div>
    <i class="review-rating" data-score = "3"></i> &nbsp;<span>(<%= @dish.ratings.where(rating: 3).count %>)</span>
  </div>

  <div>
    <i class="review-rating" data-score = "2"></i> &nbsp;<span>(<%= @dish.ratings.where(rating: 2).count %>)</span>
  </div>

  <div>
    <i class="review-rating" data-score = "1"></i> &nbsp;<span>(<%= @dish.ratings.where(rating: 1).count %>)</span>
  </div>
  <script type="text/javascript">
    $('.rating-form').raty({
      path:'/assets/',
      scoreName: 'rating[rating]',
      score: 1
    });

    $(".review-rating").raty({
      readOnly: true,
      score: function() {
      return $(this).attr("data-score");
      },
      path: "/assets/"
    });
  </script>


