<div align="center">
  <% @dish.pictures.each do|p|%>
    <%= image_tag(p.image_url, :class => 'img') %> 
  <% end %>  
  <h6 style="color: black; padding-top: 10px;text-transform: capitalize;"> <%= @dish.name %> </h6>

  <%= form_for Rating.new , :url => {:action => "create", :controller => "ratings"} do |f| %>
    <% if current_user.present? %>
      <%= f.hidden_field :user_id, :value => current_user.id%>
      <%= f.hidden_field :user_name, :value => current_user.name%>
    <% end %>
    <%= f.hidden_field :dish_id, :value => @dish.id%>
               
    <div class="form-group">
      <div class="col-sm-8">    
        <%= f.text_area :comments ,:rows => 2, :cols => 50, :class => 'form-control', :placeholder => 'Write your review here'%>  
      </div>
    </div> 
 
    <div class="form-group">
      <div class="col-sm-8">  
        <span class="rating-form"></span>
      </div>
    </div>
    
    <div class= "form-group" >
      <div class="col-sm-8">    
        <%= f.submit "Submit Review",class: "btn btn-info btn-sm modal_btn" %> 
      </div>
    </div> 
  <% end %>
</div>



<script type="text/javascript">
  $(".modal_btn").click(function(){
    jQuery.validator.addMethod("lettersonly", function(value, element) {
      return this.optional(element) || /^[a-zA-Z\\ \\.\\]+$/.test(value);
    }, "Letters only please"); 
     
    $(".new_rating").validate();

    $("#rating_comments").rules("add", {
      required:true,
        lettersonly: true,
        minlength:10,
        maxlength:300,
         messages: {
              required: "*Please Enter comment."
      }
    });
  })
</script>
