<% if @dishes.present? %> 
  <% @dishes.each do |d| %>
    <% d.pictures.each do|p|%>
      <div class="col-md-4 image-box no_padding_right no_padding_left" style="margin-bottom: 0px; padding-right: 20px; padding-left: 0px; padding-bottom: 15px;" onclick="window.location.href='<%=dish_path(d)%>'">
        <div class="card" style="border:none;">
          <%= link_to image_tag(p.image_url, :class => 'image-box1 hover_img'), dish_path(d)%>

          <div class="rating single_item" id ="dish_<%= d.id %>">
            <span class="restaurant_rating"><%= d.ratings.average(:rating).present? ? d.ratings.average(:rating).round(1) : 0 %>
              <i class="fa fa-star checked"></i>
            </span>
          </div>

          <figcaption>
            <div>
              <h2><%= d.name %></h2>
              <% d.restaurants.each do |r|%>
                <p>
                  <span style="font-size:15px; float: left;">
                     <%= r.name %>
                  </span>
                  <span class="price">&#8377; <%= d.price%></span>
                </p>
              <% end %>
            </div>
          </figcaption>

        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="no_data">
    No results found
  </div>
  
<% end %>

