<!-- Navigation -->
<%= render :partial => 'shared/nav'%>
<div class="container">
  <div style="margin-top: 100px;">
    <h2>Add new address</h2><hr>
    <% id = request.query_parameters %>
    <% x = id['x'] %>
    <% if(x=='1') %>
      <%= form_for @address, url:{action: :create, y:1} do |f| %>
        <%= render :partial => 'form', locals: { f: f }%>
      <% end %>
    <% end %>

    <% if(x=='2') %>
      <%= form_for @address, url:{action: :create, y:2} do |f| %>
        <%= render :partial => 'form', locals: { f: f }%>
      <% end %>
    <% end %>

  </div>
</div>
<%= render :partial => 'states_dropdown'%>





