 


<div class="">
  <%= render :partial => 'admin/shared/header'%>
  <div class="main_div">
    <!-- Sidebar -->
    <%= render :partial => 'admin/shared/side_bar'%>
    <!-- Sidebar -->

    <div id="page-content-wrapper">
       <div class="container-fluid" >
       
        <div><br>
          <h2>All Registered users</h2><br>
          <table  class="table" >   
            <thead class="thead-light">
           
              <tr> 
                <th>User</th> 
                <th>Email</th>
                <th>Signup</th>
                <th class="one">Orders</th> 
                <th class="two">Amount spent</th>
              </tr>   
            </thead>   
            <tbody id = "users">  
            <% @users.each do|r|%>
              <tr>
                <td><%= r.name %></td>
                <td><%= r.email %></td>
                <td><%= r.created_at.strftime("%B, %d, %Y") %></td>
                <td class ="one" align="center"><%= r.orders.count %></td>
                <td align="center" class="two">
                  <% @total_spent = 0 %>
                  <% r.orders.each do |o| %>
                    <% @total_spent = @total_spent + o.amount %> <% end %>
                 &#8377; <%= @total_spent %> 
                </td>  
              </tr>
            <% end %>    
            </tbody>   
          </table>
        </div>
        <div>
          <div style="" class="link_back">
            <%= link_to 'Back', admin_index_path, :class => 'btn btn-info btn-block btn_back'%>
          </div>
          <%= will_paginate @users, renderer: BootstrapPagination::Rails, :class => 'menublock' %>
        </div>  

      </div> 
   
    </div>
  </div>
</div>

<style>
  .edit_dish{
    width: 422px; margin: 0px auto;
  }
  @media only screen and (max-width: 600px) {
    .order_tracking{
      width: 300px;
    }
    .link_back{
      margin-left: 80px;
    }

    .edit_dish{
      width: 310px;
    }

  .one, .two, .three, .four{
    display: none;
  }    
  .h1{
    font-size: 15px !important;
  }
}

</style>
