<div class="container" >
  <%= render :partial => 'admin/shared/nav' %>
  <div class=""style="width: 422px; margin: 0px auto;" >
    <%= form_for @dish, url: {action: :update}, html: {:class => 'u-dimension-2 edit_dish',:style =>'padding:20px'} do |f| %>
      <h2 align="center"><%= @restaurant.name %></h2><hr>
     
      <div class="dish_field">
        <div class="col-sm-12 dish_column">    
          <label>Name </label>
          <span class="err"><%= @dish.errors[:name].join('. ') %></span><br/>
            <%= f.text_field :name , :class => 'form-control', :placeholder => 'Name'%>
        </div>
      </div>
       
      <div class="dish_field">
        <div class="col-sm-12 dish_column">    
          <label>Price </label>
           <span class="err"><%= @dish.errors[:price].join('. ') %></span><br/>
          <%= f.text_field :price, :class => 'form-control', :placeholder => 'Price'  %>
        </div>
      </div>
      <%= f.fields_for :pictures do |p| %>
    
      <div class="" align="center">
        <% if p.object.image %>
          <%= link_to image_tag(p.object.image.url.to_s, :class => 'img_preview db_image'),'#',
          {:class=>" ", "data-toggle"=>"modal", "data-target" => "#myModal-#{p.object.id}"}%>
        
          <!-- Modal for image view-->
          <div class="modal fade"  id="myModal-<%= p.object.id %>" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content modal-img-content">
                <div class="modal-body">
                  <%= image_tag p.object.image_url.to_s ,:class => 'modal-img'%>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <span class ="upload-preview">
          <a class=" " data-toggle="modal" data-target="#myModal" href="#">
            <img class="img_preview load_image" src="" style="display: none;">
          </a>
          <!-- Modal for image view-->
          <div class="modal fade"  id="myModal" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content modal-img-content">
                <div class="modal-body">
                  <img class="modal-img" src="">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </span>
      </div>
        <div class="col-md-12 dish_column">
        <%= f.label :image %> 
        <%= p.file_field :image, class: "form-control file"  %>
      </div>   
    <% end %>  

      <div class="dish_field">
        <div class="col-sm-12 dish_column">    
          <label>Category </label>
            <%= f.select( :category_id, options_from_collection_for_select(Category.all, "id", "name",f.object.category_id), {:prompt => 'select category'}, {:class => 'form-control'}) %>    
        </div>
      </div>

      <div class= "" >
        <div class="col-sm-12">    
            <%= f.submit "Save",class: "btn btn-block btn-primary btn-md dish_edit" %> 
        </div>
      </div><br>

      <div class= "" >
        <div class="col-sm-12" align="center">    
          <%= link_to 'Back to '+@restaurant.name,admin_restaurant_dishes_path,:class => "btn btn-sm btn-info "  %>
        </div>
      </div>

    <% end %>
  </div>
</div><br><br>



