



<div class="">
  <%= render :partial => 'admin/shared/header'%>
  <div class="main_div">
    <!-- Sidebar -->
    <%= render :partial => 'admin/shared/side_bar'%>
    <!-- Sidebar -->

    <div id="page-content-wrapper">
      <div class="container-fluid"><br>
        <div> <br>
        <div>
         <span class="h3"><%= @restaurant.name %> </span>
          <%= link_to 'Add Dish', new_admin_restaurant_dish_path(@restaurant), :class => 'fa fa-plus btn btn-lg add btn-success', :style => 'float:right'%>
        </div><br>
        <table  class="table " >   
          <thead class="thead-light">
            <tr> 
              <th>Dish</th> 
              <th class="one">Category</th> 
              <th class="">Image</th>
              <th>Price</th>
              <th class="four">Avg Rating</th>
              <th class="one">Total Reviews </th>
              <th>Actions</th> 
            </tr>   
          </thead>   
          <tbody> 
            <% @dishes.each do|d|%>
              <tr>
                <td><%= d.name %></td>
                <td class="one"><%= d.category.name %></td>
                <td ><% d.pictures.each do|p|%>
                    <%= link_to image_tag(p.image_url.to_s ,:class => 'img'),'#',
                    {:class=>" ", "data-toggle"=>"modal", "data-target" => "#myModal-#{p.id}"}%>
                      <!-- Modal for image view-->
                    <div class="modal fade"  id="myModal-<%= p.id %>" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content modal-img-content">
                          <div class="modal-body">
                            <%= image_tag p.image_url.to_s ,:class => 'modal-img'%>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% end %></td>
                <td>&#8377; <%= d.price %></td>
                <td class="three"><%= d.ratings.average(:rating) %></td>
                <td class="four"><%= d.ratings.count(:rating) %></td>
                <td><%= link_to "", edit_admin_restaurant_dish_path(@restaurant,d),:class => 'far fa-edit btn btn-success'%>
                    <%= link_to '', '#',{:class=>"far fa-trash-alt btn btn-danger", "data-toggle"=>"modal", "data-target" => "#delete-#{d.id}"} %>
                      <div class="modal fade  " id="delete-<%= d.id %>">
                        <div class="modal-dialog ">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h3><%= d.name %></h3>
                            </div>
                            <div class="modal-body">
                              <p>Are you sure you wish to delete?</p>
                            </div>
                            
                            <div class="modal-footer">
                              <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                              <%= link_to 'Delete',admin_restaurant_dish_path(@restaurant,d), method: :delete, :class => 'btn btn-danger btn-sm' %>
                            </div>

                          </div>
                        </div>
                      </div></td>
                </tr>
            <% end %>   
          </tbody>   
        </table>
      </div>
        <div>
          <div style="" class="link_back">
            <%= link_to 'Back', admin_restaurants_path, :class => 'btn btn-info btn-block'%>
          </div>
          <%= will_paginate @dishes, renderer: BootstrapPagination::Rails, :class => 'menublock' %>
        </div>      
       
     
      </div>
    </div>
  </div>
</div>


<style>


  @media only screen and (max-width: 600px) {

.one, .two, .three, .four{
  display: none;
}    
.h1{
  font-size: 15px !important;
}
}

</style>






  