<!-- Navigation -->
<%= render :partial => 'shared/nav' %>
<div class="container" style="margin-top: 10px"><br>
  <div style="margin-left: 55px">
    <%= link_to 'Your Account', user_path(current_user) , :class => 'link1'%> &nbsp;<i class="a-breadcrumb-divider">›</i><span> Change password </span>
  </div>

  <div class="form-horizontal no-border user_form u-dimension-2 password_change"  style ="" 
      align="center" >
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="form-group">
        <div class="col-sm-12">
          <%= f.label :current_password %> <br />
          <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
       </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <%= f.label :password, "New password" %><br />
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control' %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-12">
         <%= f.label :password_confirmation, "Confirm new password" %><br />
         <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
       </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <%= f.submit "Change my password", class: 'submitBtn btn btn-block btn-success btn' %>
       </div>
      </div>
      
      <%= link_to "Back", user_path(current_user) %>
    <% end %>
  </div>
</div> 

<style type="text/css">
   .navbar-nav .dropdown-menu {
    position: absolute;
}
.nav-item{
    padding-right: 7px;
        display: inherit;

  }

  .cart-badge--desktop1{
    position: static;
  }

  .cart-badge--desktop{
    position: static;
  } 
  .password_change{
    width: 320px;
  }
 .form-group{
  width: 303px;
 }
  </style>

