<%= render :partial => 'shared/nav' %>


<div class="container">
  <div class="form-horizontal no-border user_form u-dimension-2 signup_formm"  style =""align="center" >
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <h3 align="center">Sign up</h3>
    
      <div class="form-group">
        <div class="col-sm-12">
          <%= f.label :name %>
           <span class="err"><%= resource.errors[:name].join('. ') %></span><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name",class: 'form-control'%>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <%= f.label :email %>
           <span class="err"><%= resource.errors[:email].join('. ') %></span><br />
          <%= f.email_field :email, autofocus: true,class: 'form-control'%>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <%= f.label :password %>
           <span class="err"><%= resource.errors[:password].join('. ') %></span><br />
          <%= f.password_field :password, autocomplete: "current-password",class: 'form-control'%>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <%= f.label :password_confirmation %>
          <span class="err"><%= resource.errors[:password_confirmation].join('. ') %></span><br />
          <%= f.password_field :password_confirmation, autocomplete: "off",class: 'form-control'%>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <%= f.submit "Create your account", class: 'submitBtn btn btn-block btn-primary btn', id: 'modal-submit' %>
        </div>
      </div>
    <% end %>

    <p> Have an account? <%= link_to "Sign in", new_user_session_path%> </p>
  </div>
</div>



<style type="text/css">
  .signup_formm{
   margin-top:30px; width: 430px;
  
  }
  .col-sm-12{
    padding-left: 0px;
    padding-right: 0px;
  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .signup_formm {width:330px;margin-bottom: 70PX;}
  .form-group{
      width:290px;
  }
  .nav-item{
    padding-right: 7px;
    display: inherit;
  }
    .cart-badge--desktop1{
    position: static;
  }

  .cart-badge--desktop{
    position: static;
  } 
  .navbar-nav .dropdown-menu {
    position: absolute;
}
}
</style>

